@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.App,
body {
  width: 100vw;
  height: 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom right, #cc00ff, #ff5100);
  overflow-x: hidden;
}

.form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  background-image: linear-gradient(to bottom right, #ff00f2, #c300ff);
  padding: 30px;
  border-radius: 20px;
  width: 400px;
  height: 400px;
}

.form > input {
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
  margin: 10px;
  outline: none;
}

.btn {
  cursor: pointer;
}

.students {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
}

h1 {
  background-image: linear-gradient(to bottom right, #fd04dc, #00e1ff, #ff00dd);
  text-shadow: 2px 2px 2px #2d135e;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.student {
  width: 90%;
  margin: 10px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #2d135e;
  background-image: linear-gradient(to bottom right, #fd04dc, #00e1ff, #ff00dd);
  padding: 20px;
  border-radius: 30px;
}

.cross {
  float: right;
  border: solid;
  width: 30px;
  height: 30px;
  background-color: aliceblue;
  border-radius: 50%;
  text-align: center;
  display: grid;
  place-items: center;
  margin: 2px;
}

.cross-btn {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 600px) {
  h1 {
    background-image: linear-gradient(
      to bottom right,
      #fd04dc,
      #00e1ff,
      #ff00dd
    );
    text-shadow: 2px 2px 2px #2d135e;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    padding: 20px;
  }
  .form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    background-image: linear-gradient(to bottom right, #ff00f2, #c300ff);
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
  }
  .form > input {
    font-size: 12px;
    padding: 8px 8px;
    border-radius: 20px;
    border: none;
    margin: 5px;
    outline: none;
  }
  .student {
    width: 80%;
    margin: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #2d135e;
    background-image: linear-gradient(
      to bottom right,
      #fd04dc,
      #00e1ff,
      #ff00dd
    );
    padding: 20px;
    border-radius: 30px;
  }
}
